$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #3a3a3a;
}

.40-padding {
  *[class*="col-"] {
    padding: 40px;
  }
}

h2,
h3 {
  font-family: 'Cardo', georgia, serif;
  font-weight: bold;
}

h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 {
  font-weight: bold;
  font-size: 14px;
}

.lead-copy {
  font-size: 16px;

  padding: 60px 40px 40px;
}

.slideshow {
  background: url(../images/background.jpg) top center no-repeat;
  background-size: cover;
  color: white;
  padding: 100px;

  .quote {
    text-align: justify;

    .attribution {
      text-align: right;
      display: block;
    }
  }
}
